model_config_list { 
    config {
        name: 'facenet'
        base_path: '/home/ducviet00/camera/HaidApi/models/facenet'
        model_platform: "tensorflow",
    },
    config {
        name: 'mtcnn'
        base_path: '/home/ducviet00/camera/HaidApi/models/mtcnn'
        model_platform: "tensorflow",
    }
}
